
.container
  .col-md-4.col-md-offset-4
    %form{:role => "form"}
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group  
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, :class => "form-control"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", :class => "form-control"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me, :class => "check_box"
              = f.label :remember_me
          .actions
            = f.submit "Log in", :class => "btn btn-primary btn-default"
      = render "devise/shared/links"
