%p#notice= notice

%p
  %b Name:
  = @category.name
  - @category.products.each do |product|
    = product.name
    = product.price
    = product.description


= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
