!!!
%html
  %head
    

  %body
    #myCarousel.carousel.slide.hidden-xs{"data-ride" => "carousel"}
      / indicators
      %ol.carousel-indicators
        %li.active{"data-target" => "#myCarousel", "data-slide-to" => "0"}
        %li{"data-target" => "#myCarousel", "data-slide-to" => "1"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        / %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}

      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        .item.active
          =link_to image_tag "1.jpg", :class => "style_image"
          .carousel-caption
            %h3 One
        .item
          =link_to image_tag "2.jpg", :class => "style_image"
          .carousel-caption
            %h3 Two
        .item
          =image_tag "3.jpg", :class => "style_image"

        

      / Left and right controls
      %a.left.carousel-control{:href => "#myCarousel", :role => "button", "data-slide" => "prev"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{:href => "#myCarousel", :role => "button", "data-slide" => "next"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Guitar Shop
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider{:role => "separator"}
                %li.dropdown-header Nav header
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link
          %ul.nav.navbar-nav.navbar-right
            = render 'devise/menu/registration_items'
            = render 'devise/menu/login_items'
            / %li
            /   %a{:href => "../navbar/"} Default
            / %li
            /   %a{:href => "../navbar-static-top/"} Static top
            / %li.active
            /   %a{:href => "./"}
            /     Fixed top
            /     %span.sr-only (current)
    / /.nav-collapse
    .container
      .col-md-12
        .well.col-md-3
          %h2
            Category
          .row
            - Category.all.each do |category|
              %p
                = link_to "#{category.name}", category
          .row
            = form_tag products_path, :method => :get do
              = text_field_tag :search, params[:search]
              = submit_tag "Search", :name => nil, :class => "glyphicon glyphicon-search"

        .col-md-9
          .row
          - @products.each do |p|
            .col-md-3.column.productbox

              =link_to image_tag(p.image.url, :class => "img-responseve"), p
              .producttitle 
                =p.name
              .productprice
                .pull-right
                  %a.btn.btn-danger.btn-sm{:href => "#",:role => "button"} BUY
                .pricetext 
                  = number_to_currency(p.price)
        .text-center.digg_pagination
          = will_paginate @products

      
      %br
    / = link_to 'New Product', new_product_path
    %footer.col-md-122
      .row.text-center 
        %p
          Copyright © 2016 Guitar Shop 
          %a{:href =>"#"}
            Home
          |
          %a{:href =>"#"} 
            About
          |
          %a{:href =>"#"} Contact
